@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'bahn';
  src: url('/assets/fonts/bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #82ca57;
  --secondary-color: #234766;
  --bg-color: #f8faf9;
  --gray-300: #a9b1b2;
  --gray-400: #8d99ae;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'bahn';
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

p,
h2,
h3,
small,
h4,
h5,
input,
.p-inputgroup, span, label{
  font-family: var(--secondary-font);
}
